<!-- *** FOOTER ***
_________________________________________________________ -->

<div class="section" id="footer">
    <div class="container">

        <div class="row">

            <div class="col-sm-6">

                <p class="social">
                    <a href="https://github.com/subhamsalaria" class="github" data-animate-hover="shake" data-animate="fadeInDown"><i class="fa fa-github"></i></a>
                    <a href=https://ca.linkedin.com/in/subham-salaria-169537124 class="linkedin" data-animate-hover="shake" data-animate="fadeInDown"><i class="fa fa-linkedin"></i></a>
                    <a href="https://mail.google.com/mail/" class="email" data-animate-hover="shake" data-animate="fadeInDown"><i class="fa fa-google"></i></a>
                </p>
            </div>
            <!-- /.6 -->

            <div class="col-sm-6">
                <p>&copy; 2017 Created By Subham Salaria. All rights reserved.</p>
            </div>

            </div>
        </div>

    </div>
    <!-- /.container -->
<!-- /.section -->

<!-- *** FOOTER END *** -->
<!-- /#all -->

<!-- #### JAVASCRIPT FILES ### -->

<!-- js base -->
<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<!-- for demo purpose -->
<script src="js/jquery.cookie.js"></script>

<!-- waypoints for scroll spy -->
<script src="js/waypoints.min.js"></script>

<!-- maps -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script src="js/gmaps.js"></script>

<!-- masonry layout -->
<script src="js/masonry.pkgd.min.js"></script>

<!-- owl carousel -->
<script src="js/owl.carousel.min.js"></script>


<!-- jQuery scroll to -->
<script src="js/jquery.scrollTo.min.js"></script>

<!-- jQuery counter -->
<script src="js/jquery.counterup.min.js"></script>

<!-- jQuery parallax -->
<script src="js/jquery.parallax-1.1.3.js"></script>

<!-- main js file -->

<script src="js/front.js"></script>
