<%include ./headerandfooter/Header.ejs %>

<div id="all">

    <!-- *** INTRO IMAGE ***
_________________________________________________________ -->
    <div id="intro" class="clearfix">
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="carousel-caption">
                        <div data-animate="fadeInDown" class="logo">
                            <img src="img/logo-big.png" alt="logo" width="130">
                        </div>
                        <h1 data-animate="fadeInDown">Subham salaria</h1>
                        <h3 data-animate="fadeInDown">Designer, Developer, Learner and Thinker</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- *** INTRO IMAGE END *** -->

    <!-- *** ABOUT ***
_________________________________________________________ -->
    <div class="section" id="about">
        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <h2 class="title" data-animate="fadeInDown">About Me</h2>
                </div>

                <div class="col-sm-12">

                    <div class="row">

                        <div class="col-sm-6 text-left" data-animate="fadeInDown">

                            <p>After completing Grade 12 in India Subham thought of pursuing his career in <strong>Computer Programming</strong> at Georgian College. Subham is originally from India and visited Canada a year ago looking for a better future and good lifestyle.
                             I focus on writing clean and efficient code.</p>

                            <p>If Subham is not coding you will find him sitting alone in a room listening to music or he will be out with my friends. Subham also loves to travel to different parts of the country and clicking some cool pictures on his way.
                            </p>

                            <p>Subham has the skills with front and back end technologies including Java, PHP, HTML, CSS and JS to ensure the products I make look and function well. All my websites are lovingly hand coded.
                            </p>

                        </div>

                        <div class="col-sm-6" data-animate="fadeInDown">

                            <div class="skill-item">
                                <div class="progress-title">
                                    Java
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-skill1" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        <span class="sr-only">65</span>
                                    </div>
                                </div>
                            </div>

                            <div class="skill-item">
                                <div class="progress-title">
                                    Javascript
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-skill2" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                        <span class="sr-only">70</span>
                                    </div>
                                </div>
                            </div>

                            <div class="skill-item">
                                <div class="progress-title">
                                    HTML and CSS
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-skill3" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                        <span class="sr-only">85</span>
                                    </div>
                                </div>
                            </div>



                            <div class="skill-item">
                                <div class="progress-title">
                                    PHP
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-skill5" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                        <span class="sr-only">68</span>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <!-- /#about -->

    <!-- *** ABOUT END *** -->

    <!-- *** SERVICES ***
_________________________________________________________ -->
    <div class="section text-gradient" id="services">
        <div class="container">
            <div class="col-md-12">
                <h2 class="title" data-animate="fadeInDown">Services</h2>

                <div class="row services">

                    <div class="col-md-4" data-animate="fadeInUp">
                        <div class="icon"><i class="fa fa-tachometer"></i>
                        </div>
                        <h3 class="heading">PHP Web Development</h3>
                        <p>Building simple websites quickly and without any effort using PHP. This scripting language is specially suited for web development and can eb embedded into HTML.
                        We can develop applications, websites and programs using PHP. Web developers are often required to develop and integrate plugins for certain popular frameworks.</p>
                    </div>

                    <div class="col-md-4" data-animate="fadeInUp">
                        <div class="icon"><i class="fa fa-mobile"></i>
                        </div>
                        <h3 class="heading">Responsive Websites</h3>
                        <p>The advancement in technology has completely changed the way consumers use them.Aimed at designing websites to provide an optimal user
                            experience - easy reading and navigation with minimum of scrolling, resizing across a wide range of devices.</p>
                    </div>

                    <div class="col-md-4" data-animate="fadeInUp">
                        <div class="icon"><i class="fa fa-html5"></i>
                        </div>
                        <h3 class="heading">HTML5 Coding</h3>
                        <p>Html5 is used for designing the websites i.e. structuring and presenting content that will be displayed on a webpage. We can design the website in whatever way we want,
                            whatever information we want to display by doing HTML5 coding. It is the only language with which information can be displayed on webpages. </p>
                    </div>

                </div>

                <hr>

                <div class="text-center">

                    <p class="lead">Would you like to know more or just discuss something?</p>

                    <p><a href="#contact" class="btn btn-default btn-lg scrollTo">Contact me</a>
                    </p>

                </div>

            </div>
            <!-- /.12 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.section -->

    <!-- *** SERVICES END *** -->

    <!-- /.section -->

    <!-- *** REFERENCES IMAGE ***
_________________________________________________________ -->
    <div class="section" id="references">
        <div class="container">
            <div class="col-sm-12">

                <div class="mb20">
                    <h2 class="title" data-animate="fadeInUp">My work</h2>

                    <p class="lead" data-animate="fadeInUp">I have worked on dozens of projects so I have picked some to display for you</p>
                </div>

                <ul id="filter" data-animate="fadeInUp">
                    <li class="active"><a href="#" data-filter="all">All</a>
                    </li>
                    <li><a href="#" data-filter="webdesign">Webdesign</a>
                    </li>
                    <li><a href="#" data-filter="other">Other</a>
                    </li>
                </ul>

                <div id="detail">

                    <span class="close">&times;</span>

                    <div id="detail-slider"></div>

                    <div class="text-center">
                        <h1 id="detail-title">&nbsp;</h1>
                    </div>

                    <div id="detail-content"></div>

                </div>
                <!-- Reference detail -->

                <div id="references-masonry" data-animate="fadeInUp">

                    <div class="reference-item" data-category="webdesign">
                        <div class="reference">
                            <a href="#">
                                <img src="img/website1.png" class="img-responsive" alt="" />

                                <div class="overlay">
                                    <h3 class="reference-title">CIC NEWS</h3>
                                </div>
                            </a>

                            <div class="sr-only reference-description" data-images="img/website1(1).png,img/website1(2).png,img/website1(3).png">

                                <p>This project was to build a website on Newspaper in Web and Internet Fundamentals course. The website will display the information
                                about the news and different pages were made explaining about various categories of news such as Sports, Business and Politics etc.</p>

                                <p>A feedback form was also designed to give the feedback about the website which was designed. Fill in your details and views about the website and it will display
                                what you have typed with a Thank You message. My contact details were also added in the website so that anyone can contact me via Email, Mobile phone and Mailing Address.</p>

                                <p class="buttons">
                                    <a class="btn btn-primary" href="http://gc200331757.computerstudi.es/" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="reference-item" data-category="seo">
                        <div class="reference">
                            <a href="#">
                                <img src="img/website2.png" class="img-responsive" alt="" />

                                <div class="overlay">
                                    <h3 class="reference-title">System Analysis</h3>
                                </div>
                            </a>

                            <div class="sr-only reference-description" data-images="img/website2(1).png,img/website2(2).png,img/website2(3).png">

                                <p>The website System Analysis will explain all the phases that cover under the System Analysis course. The phases are : System Planning, Analysis, Design, Implementation and Operation,Support and Security.
                                About us page will display all the group members who were in the project.</p>

                                <p>A quiz was also designed to check till what extent the students were able understand about System Analysis. Various videos were also added in Additional Resources page if anyone want to have a better view.
                                All the phases were explained briefly which will provide much more information about System Analysis.</p>

                                <p class="buttons">
                                    <a class="btn btn-primary" href="http://gc200331757.computerstudi.es/Assignment%201/" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="reference-item" data-category="marketing">
                        <div class="reference">
                            <a href="#">
                                <img src="img/website3.png" class="img-responsive" alt="" />

                                <div class="overlay">
                                    <h3 class="reference-title">Cars and Companies</h3>
                                </div>
                            </a>

                            <div class="sr-only reference-description" data-images="img/website3(1).png,img/website3(2).png,img/website3(3).png">

                                <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour
                                    explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>

                                <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies
                                    talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p>

                                <p class="buttons">
                                    <a class="btn btn-primary" href="http://gc200331757.computerstudi.es/Project1/Home.php" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="reference-item" data-category="marketing">
                        <div class="reference">
                            <a href="#">
                                <img src="img/website4.png" class="img-responsive" alt="" />

                                <div class="overlay">
                                    <h3 class="reference-title">Categories, Users and Products</h3>
                                </div>
                            </a>

                            <div class="sr-only reference-description" data-images="img/website4(1).png,img/website4(2).png,img/website4(3).png">

                                <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour
                                    explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>


                                <p class="buttons">
                                    <a class="btn btn-primary" href="http://gc200331757.computerstudi.es/comp-1006/lesson-14/examples/categories/index.php?action=index" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /#references-masonry -->

            </div>
            <!-- /.12 -->
        </div>
        <!-- /.container -->
    </div>

    <!-- /.section -->

    <!-- *** CUSTOMERS END *** -->

    <!-- *** CONTACT ***
_________________________________________________________ -->

    <div class="section contact" id="contact" data-animate="bounceIn">
        <div class="container">
            <div class="col-md-12">


                <h2 class="title">Contact me</h2>

                <div class="row">

                    <div class="col-md-8 col-md-offset-2">
                        <form id="contact-form" method="post" action="contact.php">

                            <div class="messages">

                            </div>

                            <div class="controls">

                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" name="name" class="form-control" placeholder="Your firstname *" required="required">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="surname" class="form-control" placeholder="Your lastname *" required="required">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="email" class="form-control" placeholder="Your email *" required="required">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="phone" class="form-control" placeholder="Your phone">
                                    </div>
                                    <div class="col-md-12">
                                        <textarea name="message" class="form-control" placeholder="Message for me *" rows="4" required="required"></textarea>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <input type="submit" class="btn btn-primary btn-lg" value="Send message">
                                    </div>
                                </div>
                            </div></br>
                            </br>
                            </br>
                            </br>

                        </form>
                    </div>

                </div>

            </div>
            <!-- /.12 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.section -->

    <!-- *** CONTACT END *** -->

    <!-- *** MAP ***
_________________________________________________________ -->

    <div class="section" id="map">

    </div>

<%include ./headerandfooter/Footer.ejs %>
</div>